{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('atualizarUsuario') }}" enctype="multipart/form-data">
<br>
<!-- Padrão para desktop/notebook -->
  <div class="boxtitulo bg-dark justify-content-between">
    <div class="col-md-4"><i class="bi bi-person" style="font-size:2rem; color:white;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
    <div class="col-md-4 offset-md-4" style="text-align: right;">
    <a class="btn btn-primary" href="#" onclick="myFunction()"><i class="bi bi-save" style="font-size:1.5rem; color:white;"></i></a>
    <a class="btn btn-danger" href="{{url_for('usuario')}}"><i class="bi bi-arrow-counterclockwise" style="font-size:1.5rem; color:white;"></i></a>  
  </div>
</div>  
  <!-- Padrão para mobile -->
<div class="boxtitulocombusca_responsivo bg-dark">
  <div class="col-md-4"><i class="bi bi-person" style="font-size:2rem; color:white;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
  <div class="col-md-4 offset-md-4" style="text-align: center;">
    <a class="btn btn-primary" href="#" onclick="myFunction()"><i class="bi bi-save" style="font-size:1.5rem; color:white;"></i></a>
    <a class="btn btn-danger" href="{{url_for('usuario')}}"><i class="bi bi-arrow-counterclockwise" style="font-size:1.5rem; color:white;"></i></a>   
  </div>
</div>
<!-- conteudo -->
<div class="boxformulario bg-light p-2 text-dark bg-opacity-50">
  <fieldset>
    <input type="hidden" name="id" id="id" value="{{id}}">
    {{form.csrf_token()}}
    <div class="form-group">
      {{form.nome.label(class="form-label")}}
      {{form.nome(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.status.label(class="form-label")}}
      {{form.status(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.login.label(class="form-label")}}
      {{form.login(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.tipousuario.label(class="form-label")}}
      {{form.tipousuario(class="form-control")}}
    </div> 
  </fieldset>
</div>
</form>
{% endblock%}