<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PasswordManager</title>
  <link href="{{ url_for('static',filename='app.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> 
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <br>
    <div class="p-3 mb-1 bg-{{category}} text-white" role="alert">
      {{ message }}
    </div>   
    {% endfor %}
  {% endif %}
{% endwith %}
  <div class="container_login">
      <div class="content first-content">
        <div class="first-column">
          <h2 class="title-primary">Seja bem-vindo ao PasswordManager</h2>
          <p class="description description-primary">Por favor, faça login com </p>
          <p class="description description-primary">suas informações pessoais</p>
          <button id="signin" class="btn_login btn_login_primary">Login</button>
        </div>
        <div class="second-column" >
          <h2 class="title-second">Crie sua conta</h2>
          <div class="social-media">
            <ul class="list-social-media">
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-facebook" style="font-size:2rem;"></i></li>
              </a>
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-google" style="font-size:2rem;"></i></li>
              </a>
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-linkedin" style="font-size:2rem;"></i></li>
              </a>
            </ul>
          </div>
          <p class="description description-second">ou utilize seu email para registro</p>
          <form class="formlogin" method="POST" action="{{url_for('criarUsuarioexterno')}}">
            <label class="label-input">
              <i class="bi bi-person icon-modify" style="font-size:1rem; color:black;"></i>
              <input type="text" placeholder="nome" name="nome" required>
            </label>
            <label class="label-input">
              <i class="bi bi-envelope icon-modify" style="font-size:1rem; color:black;"></i>
              <input type="email" placeholder="email" name="email" required>
            </label>
            <label class="label-input">
              <i class="bi bi-lock icon-modify" style="font-size:1rem; color:black;"></i>
              <input type="password" placeholder="senha" name="senha" required>
            </label>
            <button class="btn_login btn_login_second">Cadastrar</button>
          </form>
        </div>
      </div>
      <div class="content second-content">
        <div class="first-column">
          <h2 class="title title-primary">Seja bem-vindo ao PasswordManager</h2>
          <p class="description description-primary">Por favor, cadastre-se </p>
          <p class="description description-primary">para usilizar nossa sistema</p>
          <button id="signup" class="btn_login btn_login_primary">Cadastrar</button>
        </div>
        <div class="second-column">
          <h2 class="title title-second">Insira seus dados para acessar</h2>
          <div class="social-media">
            <ul class="list-social-media">
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-facebook" style="font-size:2rem;"></i></li>
              </a>
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-google" style="font-size:2rem;"></i></li>
              </a>
              <a class="link-social-media" href="#">
                <li class="item-social-media"><i class="bi bi-linkedin" style="font-size:2rem;"></i></li>
              </a>
            </ul>
          </div>
          <p class="description description-second">ou utilize seu email para login</p>
          <form class="formlogin" method="POST" action="{{url_for('autenticar')}}">
            <label class="label-input">
              <i class="bi bi-person icon-modify" style="font-size:1rem; color:black;"></i>
              <input type="text" placeholder="login" name="usuario" required>
            </label>
            <label class="label-input">
              <i class="bi bi-lock icon-modify" style="font-size:1rem; color:black;"></i>
              <input type="password" placeholder="senha" name="senha" required>
            </label>
            <a href="#" class="password">Esqueceu sua senha?</a>
            <button class="btn_login btn_login_second">Login</button>
          </form>
        </div>   
  </div>
<script>
  var btnSignin = document.querySelector("#signin");
  var btnSignup = document.querySelector("#signup");

  var body = document.querySelector("body");

  btnSignin.addEventListener("click", function(){
    body.className = "sign-in-js";
  });


  btnSignup.addEventListener("click", function(){
    body.className = "sign-up-js";
  });

</script>
</body>
</html>
