<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="{{ url_for('static',filename='app.css') }}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <title>Gerenciamento de Senhas | Password Manager</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Configurações
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/area">Áreas</a>
            <a class="dropdown-item" href="/beneficio">Beneficios</a>
            <a class="dropdown-item" href="/periodo">Período</a>
            <a class="dropdown-item" href="/tipolancamento">Tipo Lançamento</a>
            <a class="dropdown-item" href="/tipousuario">Tipo Usuários</a>
            <a class="dropdown-item" href="/usuario">Usuários</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/funcionario">Movimentações</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Relatórios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/relatorioPeriodo">Período</a>
            <a class="dropdown-item" href="/beneficio">Profissionais</a>
          </div>
        </li>                
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"></a>
        </li>
      </ul>
    </div>
    <div>
      <span class="align-middle">
        <p class="text-white">{{ session['nomeusuario_logado'] }}</p>
      </span>

    </div>
  </nav>
</header>

<body>

  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
      {% for message in messages %}
      <li class="alert alert-success">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}



    {% block conteudo %} {% endblock%}

  </div>

</body>
<footer>
  <hr style="height:2px; width:100%; border-width:0; color:gray; background-color:gray"></footer>
  <div align="right">
    Gerenciamento de beneficio para profissionais
  </div>
</html>