{% extends "template.html"%}
{% block conteudo %}
<!-- barra de navegação para desktop/notebook -->
<br>
<form method="post" action="{{ url_for('tipossenhaPesquisa') }}" enctype="multipart/form-data" id="formulario">
  <div class="boxtitulocombusca bg-dark align-items-center">
    <div class="p-2 bd-highlight col-lg text-left text-white font-weight-bold "><i class="bi-card-list" style="font-size:2rem; color:white;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
    <div class="container w-25 input-group">{{form.pesquisa(class="form-control")}}</div>    
    <div class="p-2"><a class="btn btn-warning" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="p-2"><a class="btn btn-danger" href="{{url_for('tiposenha')}}"><i class="bi bi-eraser" style="font-size:1.5rem; color:white;"></i></a></div>
    <div class="p-2"><a class="btn btn-success" href="{{url_for('novoTipoSenha')}}"><i class="bi bi-file-earmark-plus" style="font-size:1.5rem; color:white;"></i></a></div>
  </div>
</form>
  <!-- barra de navegação para mobile -->
<form method="post" action="{{ url_for('tipossenhaPesquisa') }}" enctype="multipart/form-data" id="formulario">
  <div class="bg-dark align-items-center boxtitulocombusca_responsivo">
    <div class="p-2 bd-highlight col-lg text-left text-white font-weight-bold "><i class="bi-card-list" style="font-size:2rem; color:white;" data-toggle="tooltip" data-placement="right" title="Usuários"></i> {{ titulo }}</div>
    <div class="container input-group">{{form.pesquisa(class="form-control")}}</div>    
    <div class="p-2 align-items-center"><a class="btn btn-warning" href="#" onclick="myFunction()"><i class="bi bi-search" style="font-size:1.5rem; color:white;"></i></a>
    <a class="btn btn-danger" href="{{url_for('tiposenha')}}"><i class="bi bi-eraser" style="font-size:1.5rem; color:white;"></i></a>
    <a class="btn btn-success" href="{{url_for('novoTipoSenha')}}"><i class="bi bi-file-earmark-plus" style="font-size:1.5rem; color:white;"></i></a></div>
  </div>
</form>
<!-- mostrar dados -->
<div class="boxcentral bg-light p-2 text-dark bg-opacity-50">
  <table class="table table-striped table-responsiv">
      <thead class="bg-dark text-white">
          <tr>
              <th class="text-left col-md-6">Tipo</th>
              <th class="text-left col-md-2">Icone</th>
              <th class="text-left col-md-2">Status</th>
              <th class="text-left col-md-2">Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for tiposenha in tipossenha.items %}
          <tr>
              <td class="text-left">{{ tiposenha.desc_passwordtype }}</td>
              <td class="text-left"><i class="{{ tiposenha.icon_passwordtype }}" style="font-size:1.5rem; color:black;"></td>
              <td class="text-left">
                {% if tiposenha.status_passwordtype == 0: %}
                <i class="bi bi-toggle-on text-success" style="font-size:2rem; color:white;">
                {% else %}
                <i class="bi bi-toggle-off text-danger" style="font-size:2rem; color:white;">
                {% endif %}                       
              <td>
                <a class="btn btn-primary" href="{{url_for('visualizarTipoSenha',id=tiposenha.cod_passwordtype)}}"><i class="bi bi-eye" style="font-size:1.5rem; color:white;"></i></a>
            </td>              
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<!-- navegação entre as páginas -->
<div class="boxcentral bg-light p-2 text-dark bg-opacity-50">
  <!-- paginação links-->
  <div class="text-right">
    <a href="{{ url_for('tiposenha', page=tipossenha.prev_num) }}"
      class="btn btn-outline-dark 
      {% if tipossenha.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
  <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in tipossenha.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  <!-- Check for the active page and set the link to "Active"-->
            {% if tipossenha.page == page_num %}
            <a href="{{ url_for('tiposenha', page=page_num) }}"
              class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('tiposenha', page=page_num) }}"
              class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('tiposenha', page=tipossenha.next_num) }}"
      class="btn btn-outline-dark 
      {% if tipossenha.page == tipossenha.pages %}disabled{% endif %}">
        &raquo;
    </a>
  </div>
  <p class="text-right mt-3">Mostrando página {{ tipossenha.page }} de {{ tipossenha.pages }}</p>
</div>
{% endblock%}