{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('editarTipoUsuario',id=id) }}" enctype="multipart/form-data">
  <br>
  <div class="container w-100 p-3 bg-dark">
    <div class="row">
      <div class="col-lg text-left text-white font-weight-bold">
        {{ titulo }}
      </div>
      <div class="col-md text-right">
        <a class="btn btn-primary" href="{{url_for('editarTipoUsuario',id=id)}}">Editar</a>
        <a class="btn btn-warning text-white" href="{{url_for('tipousuario')}}">Voltar</a>
        <a class="btn btn-danger" href="{{url_for('deletarTipoUsuario',id=id)}}" onclick="return confirm('Você tem certeza que deseja apagar?')">Deletar</a>
      </div>
    </div>
  </div>
  <br>
  <fieldset>
    {{form.csrf_token()}}
    <div class="form-group">
      {{form.descricao.label(class="form-label")}}
      {{form.descricao(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.status.label(class="form-label")}}
      {{form.status(class="form-control readonly")}}
    </div>
  </fieldset>
{% endblock%}